// Colors
.color_dark {
  color: $colorDark;
}
.color_light {
  color: $colorLight;
}
.light_purple {
  color: $lightPurple;
}
.light_blue {
  color: $lightBlue;
}
.light_green {
  color: $lightGreen;
}
.light_black {
  color: $lightBlack;
}

// Backgrunds
.color_dark_back {
  background-color: $colorDark;
}
.color_light_back {
  background-color: $colorLight;
}
.light_purple_back {
  background-color: $lightPurple;
}
.light_blue_back {
  background-color: $lightBlue;
}
.light_green_back {
  background-color: $lightGreen;
}
.light_black_back {
  background-color: $lightBlack;
}
