@mixin underLineNormal {
  .line {
    position: relative;
    width: 51px;
    height: 3px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-top: -3px;
    margin-bottom: 3rem;
    .sub_line {
      width: 30%;
      height: 3px;
      background-color: $colorLight;
      border-radius: 3px;
    }
  }
}

@mixin underLineDotted {
  .line {
    @include flexCenter;
    .sub_line {
      border-radius: 3px;
      &:first-child {
        order: 1;
        width: 1rem;
        height: 0.3rem;
        background-color: rgba(58, 184, 232, 0.5);
      }
      &:nth-child(2) {
        order: 2;
        width: 4rem;
        height: 0.3rem;
        margin: 0 2px;
        background-color: rgba(58, 184, 232, 1);
      }
      &:last-child {
        order: 3;
        width: 1rem;
        height: 0.3rem;
        background-color: rgba(58, 184, 232, 0.5);
      }
    }
  }
}

@mixin buttonHover {
  box-shadow: 0 0.3rem 0.6rem #00000029;
  &:hover {
    transform: translateY(-0.3rem);
  }
  &:active {
    transform: translateY(0.3rem);
    box-shadow: none;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin nav_overrite {
  nav.nav {
    position: absolute;
    z-index: 1;
    .main_nav {
      .row {
        .sign_in {
          a {
            color: #fff !important;
          }
        }
        form {
          span {
            background: #777 !important;
          }
        }
        .col:nth-child(3) {
          .links {
            li {
              a {
                color: #fff;
              }
              &.active {
                a {
                  color: $colorLight;
                  font-weight: bolder;
                  border-bottom: 2px solid $colorLight;
                }
              }
              &:hover {
                a {
                  color: $colorLight;
                  text-shadow: none;
                  transform: translateY(-3px);
                }
              }
            }
          }
        }
        .logo {
          background: transparent !important;
        }
      }
    }
  }
}

@mixin heading_background {
  color: #fff;
  transform: translateY(30px);
  font-size: 3.5rem;
  padding: 0.8rem 1rem;
  background: linear-gradient(to right, $colorLight 2px, transparent 2px) 0 100%,
    linear-gradient(to left, $colorLight 2px, transparent 2px) 100% 0,
    linear-gradient(to bottom, $colorLight 2px, transparent 2px) 100% 0,
    linear-gradient(to top, $colorLight 2px, transparent 2px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  @media (max-width: 991.98px) {
    transform: translateY(70px);
  }
}

@mixin slickDots {
  .slick-dots {
    li {
      button {
        border-radius: 50%;
        &::before {
          font-family: "slick";
          font-size: 1.4rem;
          line-height: 2.3rem;
          position: absolute;
          content: "•";
          text-align: center;
          color: $colorLight;
          transition: 0.3s ease;
          -webkit-font-smoothing: antialiased;
        }
        @media (max-width: 479.98px) {
          border: none;
        }
        &:hover {
          &::before {
            color: #bfedff;
          }
        }
      }
      &.slick-active {
        button {
          &::before {
            color: #00b0f3;
          }
        }
      }
    }
  }
}
