@mixin underLineNormal {
  .line {
    position: relative;
    width: 51px;
    height: 3px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-top: -3px;
    margin-bottom: 3rem;
    .sub_line {
      width: 30%;
      height: 3px;
      background-color: $colorLight;
      border-radius: 3px;
    }
  }
}

@mixin underLineDotted {
  .line {
    @include flexCenter;
    .sub_line {
      border-radius: 3px;
      &:first-child {
        order: 1;
        width: 1rem;
        height: 0.3rem;
        background-color: rgba(58, 184, 232, 0.5);
      }
      &:nth-child(2) {
        order: 2;
        width: 4rem;
        height: 0.3rem;
        margin: 0 2px;
        background-color: rgba(58, 184, 232, 1);
      }
      &:last-child {
        order: 3;
        width: 1rem;
        height: 0.3rem;
        background-color: rgba(58, 184, 232, 0.5);
      }
    }
  }
}

@mixin buttonHover {
  box-shadow: 0 0.3rem 0.6rem #00000029;
  &:hover {
    transform: translateY(-0.3rem);
  }
  &:active {
    transform: translateY(0.3rem);
    box-shadow: none;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin nav_overrite {
  nav.nav {
    position: absolute;
    z-index: 1;
    .main_nav {
      .row {
        .sign_in {
          a {
            color: #fff !important;
          }
        }
        form {
          span {
            background: #777 !important;
          }
        }
        .col:nth-child(3) {
          .links {
            li {
              & > a {
                color: #fff;
              }
              &.active {
                border-bottom: 0.2rem solid $colorLight;
                & > a {
                  color: $colorLight;
                }
                &:hover {
                  border-bottom: 0.2rem solid $colorLight;
                  & > a {
                    color: $colorLight;
                  }
                }
              }
              &:hover {
                border-bottom: 0.2rem solid #fff;
                & > a {
                  color: #fff;
                }
              }
            }
          }
        }
        .logo {
          background: transparent !important;
        }
      }
    }
  }
}

@mixin heading_background {
  color: #fff;
  transform: translateY(30px);
  font-size: 3.5rem;
  padding: 0.8rem 1rem;
  background: linear-gradient(to right, $colorLight 2px, transparent 2px) 0 100%,
    linear-gradient(to left, $colorLight 2px, transparent 2px) 100% 0,
    linear-gradient(to bottom, $colorLight 2px, transparent 2px) 100% 0,
    linear-gradient(to top, $colorLight 2px, transparent 2px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  @media (max-width: 991.98px) {
    transform: translateY(70px);
  }
}

@mixin slickDots {
  .slick-dots {
    li {
      button {
        border-radius: 50%;
        &::before {
          font-family: "slick";
          font-size: 1.4rem;
          line-height: 2.3rem;
          position: absolute;
          content: "•";
          text-align: center;
          color: $colorLight;
          transition: 0.3s ease;
          -webkit-font-smoothing: antialiased;
        }
        @media (max-width: 479.98px) {
          border: none;
        }
        &:hover {
          &::before {
            color: #bfedff;
          }
        }
      }
      &.slick-active {
        button {
          &::before {
            color: #00b0f3;
          }
        }
      }
    }
  }
}

// Pages Mixins
@mixin main_form {
  .main_form {
    @include flexCenter;
    flex-direction: column;
    flex-wrap: wrap;
    width: 42rem;
    max-width: 100%;
    position: relative;
    margin: 0 auto;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    label {
      width: 100%;
      position: relative;
      i {
        position: absolute;
        z-index: 1;
        top: 2.4rem;
        left: 2rem; // RTL
        font-size: 2.5rem;
        color: $colorLight;
      }
    }
    input {
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 44px;
      background-color: #fff;
      width: 100%;
      padding: 1.5rem 6rem 1.5rem;
      margin-top: 1rem;
      font-size: 1.5rem;
      transition: 0.3s ease-out;
      &::placeholder {
        color: $colorDark;
        font-weight: 600;
      }
      &:focus {
        outline: none;
        box-shadow: 0 0 6px 3px $colorLight;
      }
    }

    input[type="email"],
    input[type="password"] {
      margin-bottom: 0;
      &.alert {
        outline: none;
        box-shadow: 0 0 6px 3px #e74c3c;
      }
    }

    input[type="submit"] {
      margin-top: 2rem;
      background: transparent
        linear-gradient(90deg, #5ad1ff 0%, #25b0e5 100%, #9d009e 100%);
      color: #fff;
      padding: 1.5rem;
      transition: all 0.4s ease;
      @include buttonHover;
    }
  }
}
@mixin main_form_rtl {
  html[dir="rtl"] {
    .main_form label i {
      left: unset;
      right: 2.4rem;
    }
    .main_form {
      label[for="password"],
      label[for="confrim"] {
        i {
          &:last-child {
            right: unset;
            left: 2.4rem;
          }
        }
      }
    }
  }
}

@mixin search_form {
  .webdesigntuts-workshop {
    background: $colorDark;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    transition: all 0.3s ease;
    text-align: center;
    width: 100%;
    z-index: 1000;
    &.active {
      right: 0;
      opacity: 1;
    }
  }

  .webdesigntuts-workshop:before,
  .webdesigntuts-workshop:after {
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    margin: 0 0 0 -400px;
    position: absolute;
    width: 800px;
  }

  .webdesigntuts-workshop:before {
    background: #444;
    background: linear-gradient(left, #151515, #444, #151515);
    top: 192px;
  }

  .webdesigntuts-workshop:after {
    background: #000;
    background: linear-gradient(left, #151515, #000, #151515);
    top: 191px;
  }

  .webdesigntuts-workshop form {
    background: #111;
    background: linear-gradient(#1b1b1b, #111);
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #272727;
    display: inline-block;
    font-size: 0px;
    margin: 150px auto 0;
    padding: 20px;
    position: relative;
    z-index: 1;
  }

  .webdesigntuts-workshop input {
    background: #222;
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    float: left;
    font-family: "Cabin", helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 200px;
  }

  .ie .webdesigntuts-workshop input {
    line-height: 40px;
  }

  .webdesigntuts-workshop input::-webkit-input-placeholder {
    color: #888;
  }

  .webdesigntuts-workshop input:-moz-placeholder {
    color: #888;
  }

  .webdesigntuts-workshop input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1),
      0 2px 0 #000;
    color: #efe;
    outline: none;
  }

  .webdesigntuts-workshop input:focus::-webkit-input-placeholder {
    color: #efe;
  }

  .webdesigntuts-workshop input:focus:-moz-placeholder {
    color: #efe;
  }

  .webdesigntuts-workshop button {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: border-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    float: left;
    font-family: "Cabin", helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px;
    @media (max-width: 350px) {
      margin: 1rem auto;
    }
  }

  .webdesigntuts-workshop button:hover,
  .webdesigntuts-workshop button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color: #5f5;
    outline: none;
  }

  .webdesigntuts-workshop button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
  }

  @keyframes glow {
    0% {
      border-color: #393;
      box-shadow: 0 0 5px rgba(0, 255, 0, 0.2),
        inset 0 0 5px rgba(0, 255, 0, 0.1), 0 2px 0 #000;
    }
    100% {
      border-color: #6f6;
      box-shadow: 0 0 20px rgba(0, 255, 0, 0.6),
        inset 0 0 10px rgba(0, 255, 0, 0.4), 0 2px 0 #000;
    }
  }
}

@mixin our_clients {
  .our_clients {
    .heading {
      @include underLineDotted;
    }
    .clients_slider {
      margin: 3rem 0;
      .item {
        position: relative;
        width: 100%;
        height: 10rem;
        padding: 0 2rem;
        outline: none;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        &:after {
          content: "";
          position: absolute;
          top: 1rem;
          right: 0;
          width: 0.2rem;
          height: 8rem;
          background-color: rgba(204, 204, 204, 0.3);
        }
      }
      @include slickDots;
    }
  }
}

@mixin our_atricles {
  .our_articles {
    position: relative;
    color: #fff;
    &::before {
      content: "";
      position: absolute;
      width: 58%;
      height: 100%;
      top: 0;
      z-index: -1;
      background: url(../img/articles_bg.png) no-repeat,
        rgba($color: #000000, $alpha: 0.4);
      background-blend-mode: overlay;
      background-size: cover;
      background-position: center;
    }
    &::after {
      content: "";
      position: absolute;
      width: 42%;
      height: 100%;
      top: 0;
      right: 0; // RTL
      z-index: -1;
      background: $colorDark;
      background-size: cover;
      background-position: center;
    }
    .row {
      align-items: center;
      padding: 6rem 3rem;
    }
    .article_content {
      padding: 0 4rem;
    }
    .heading {
      @include underLineDotted;
      user-select: none;
      .line {
        .sub_line {
          &:first-child {
            background-color: #fff;
          }
          &:last-child {
            background-color: #fff;
          }
        }
      }
    }
    .content {
      user-select: none;
      .slick-prev {
        display: none !important;
      }
      .slick-next {
        display: none !important;
      }
      .item {
        outline: none;
        p {
          font-size: 2.5rem;
        }
      }
    }

    .articles_slider {
      .item {
        position: relative;
        height: 25rem;
        max-width: 100%;
        margin: 10px;
        outline: none;
        transition: 0.3s;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0,
            rgba(0, 0, 0, 0.6) 30%,
            rgba(0, 0, 0, 0) 100%
          );
          bottom: 0;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        a {
          position: absolute;
          bottom: 1rem;
          text-decoration: none;
          color: #fff;
          text-align: center;
          outline: none;
          transition: 0.3s;
          font-size: 1.4rem;
          &:hover {
            color: $colorLight;
          }
        }
        &.slick-current {
          box-shadow: 0 0 0.6rem 0.2rem #fff;
        }
        &:focus,
        &:hover {
          box-shadow: 0 0 0.6rem 0.2rem #fff;
        }
      }
      @include slickDots;
      .slick-dots {
        li {
          button {
            border-color: rgba($color: #fff, $alpha: 0.5);
            &::before {
              color: #fff;
            }
            &:hover {
              &::before {
                color: rgba($color: #fff, $alpha: 0.4);
              }
            }
          }
          &.slick-active {
            button {
              &::before {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
@mixin partners {
  .partners {
    background: url(../icons/partners_bg.svg) no-repeat;
    background-size: cover;
    height: 78vh;
    margin-bottom: 10rem;
    @media (max-width: 767.98px) {
      height: 60vh;
    }
    .heading {
      @include underLineDotted;
    }
    .cards_slider {
      margin-top: 3rem;
      height: 34rem;
      .slick-list {
        height: 100% !important;
      }

      .item {
        max-width: 100%;
        padding: 2rem;
        margin: 2rem 1rem 0;
        background-color: #fff;
        border-radius: 0.6rem;
        box-shadow: 0px 0 0.6rem 0.3rem #0000001a;
        outline: none;
        &.slick-current {
          .card_content {
            i {
              color: $colorLight;
            }
          }
        }
        &:hover {
          .card_content {
            i {
              color: $colorLight;
            }
          }
        }
        .card_content {
          position: relative;
          padding: 4rem;
          border: 0.1rem dashed $colorLight;
          height: 100%;
          i {
            position: absolute;
            font-size: 4rem;
            color: #efefef;
            transition: 0.3s ease;
            &:first-of-type {
              bottom: 2rem;
              left: 2rem;
            }
            &:last-of-type {
              top: 2rem;
              right: 2rem;
            }
          }
          .owner_img {
            position: absolute;
            bottom: -7rem;
            right: 2rem;
            @include flexCenter;
            img {
              width: 12rem;
              height: 12rem;
              object-fit: cover;
              border: 0.2rem solid $colorLight;
              border-radius: 50%;
              order: 2;
              box-shadow: 0 0 0.6rem 0.2rem rgba($color: #000000, $alpha: 0.5);
              image-rendering: pixelated;
            }
            h3 {
              color: $colorLight;
              font-weight: bold;
              order: 1;
              margin: 2rem 1rem 0;
              align-self: flex-start;
              text-transform: capitalize;
            }
          }
          p {
            font-size: 2.2rem;
          }
        }
      }
      @include slickDots;
    }
  }
}
