/************* Start loading *************/
@keyframes orbit1 {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(360deg);
  }
}
@keyframes orbit2 {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(-360deg);
  }
}
/************* End loading *************/

/************* Start Header scrollDown *************/
@keyframes arrow_down {
  100% {
    transform: translateY(8px);
  }
}
@keyframes border_scale_one {
  100% {
    transform: scale(2);
    color: #fff;
    opacity: 0.1;
  }
}
@keyframes border_scale_tow {
  100% {
    transform: scale(1.5);
    color: #fff;
    opacity: 0.1;
  }
}
@keyframes border_scale_three {
  100% {
    transform: scale(1);
    color: #fff;
    opacity: 0.1;
  }
}
/************* Start Header scrollDown *************/

/******* Home Animation ********/
@keyframes buttonChevronHover {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(2rem);
  }
}
