html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  @media (max: 992px) {
    font-size: 55%;
  }
  @media (max-width: 768px) {
    font-size: 40%;
  }
  @media (max-width: 576px) {
    font-size: 40%;
  }
  @media (max-width: 575.98px) {
    font-size: 35%;
  }
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 7000px; /*Temp*/
}
*,
*::after,
*::before {
  box-sizing: inherit;
  text-align: start;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

/****** Start scrollToTop ******/
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  background: linear-gradient(to right, red, #fff);
  line-height: 35px;
  text-align: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background: linear-gradient(to right, #fff, red);
  }
  i {
    color: #fff;
    font-size: 20px;
  }
}
/****** End scrollToTop ******/
