body {
  &.fix_body {
    overflow: unset;
    background-color: #ebeef6;
  }
}
.dashboard_page {
  background-color: #ebeef6;
  @media (min-width: 992px) {
    overflow-x: hidden;
  }
  .tabs_toggler {
    .toggler {
      background: transparent;
      width: 4.5rem;
      line-height: 0.5;
      padding: 0 0.3125em 0.3125em;
      font-size: 1.0625rem;
      border: none;
      outline: none;
      z-index: 3;
      display: none;
      span {
        background-color: #000;
        width: 100%;
        height: 0.3rem;
        display: inline-block;
        transition: all 0.3s linear;
        position: relative;
      }
      &.clicked {
        span {
          &:first-child {
            transform: rotate(45deg);
            top: 0.6rem;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            transform: rotate(135deg);
            top: -0.563rem;
          }
        }
      }
      &.close {
        position: fixed;
        top: 2rem;
        left: 25%;
        z-index: 99;
        width: 5rem;
        span {
          background-color: #fff;
        }
      }
    }
  }

  .dash_nav {
    font-size: 2rem;
    position: fixed;
    right: 0; // RTL
    width: 84%;
    z-index: 2;
    .notifcation_bar {
      position: relative;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 5rem;
      .toggler_space {
        @media (max-width: 991.98px) {
          flex-grow: 0.05;
        }
      }
      h3 {
        flex-grow: 0.9;
        font-weight: 600;
        font-size: 2.5rem;
      }
      .user_details {
        display: flex;
        align-items: center;
        position: relative;
        a {
          img {
            width: 6rem;
            height: 6rem;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .profile_menu {
          position: absolute;
          top: 8rem;
          left: 0;
          font-size: 1.6rem;
          width: 20rem;
          padding: 2rem;
          background-color: #fff;
          border-radius: 0.5rem;
          box-shadow: 0 0 0.6rem 0.3rem #0000001a;
          @include flexCenter;
          flex-direction: column;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          &.show {
            opacity: 1;
            visibility: visible;
          }
          &::before {
            content: "";
            position: absolute;
            top: -1.9rem;
            left: 2rem;
            width: 0;
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1.9rem solid #fff;
            z-index: 2;
            filter: drop-shadow(0px -0.1rem 0.1rem rgba(0, 0, 0, 0.3));
          }
          li {
            margin: 1rem 0;
            width: 100%;
            a {
              color: #000;
              text-decoration: none;
              transition: 0.3s ease;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              &:hover {
                color: #27b0e4;
              }
              @media (max-width: 992px) {
                transition: unset !important;
                animation: unset !important;
              }
            }
          }
        }
        span {
          margin: 0 1rem;
          font-weight: bold;
          font-weight: 600;
          font-size: 1.6rem;
        }
        .notifcation_menu {
          position: relative;
          a {
            text-decoration: none;
            color: #000;
            span {
              position: absolute;
              top: 0.2rem;
              left: 0.1rem;
              width: 1.4rem;
              height: 1.4rem;
              font-size: 1rem;
              color: #fff;
              background-color: #e1020c;
              border-radius: 50%;
              @include flexCenter;
              user-select: none;
            }
            i {
              margin: 0 1.5rem;
            }
          }
          .menu {
            position: absolute;
            top: 4.7rem;
            left: -41.3rem;
            width: 56rem;
            background-color: #fff;
            box-shadow: 0px 3px 6px #00000012;
            z-index: 4;
            transition: 0.3s ease;
            opacity: 0;
            visibility: hidden;
            @media (max-width: 479.98px) {
              width: 45rem;
              left: -15.3rem;
            }
            &.show {
              opacity: 1;
              visibility: visible;
            }
            .head {
              position: relative;
              display: flex;
              align-items: center;
              padding: 1rem;
              color: #fff;
              background-color: $colorLight;
              h4 {
                margin: 0 1rem;
              }
              &::before {
                content: "";
                position: absolute;
                top: -1.8rem;
                right: 20%;
                width: 0;
                height: 0;
                border-left: 1rem solid transparent;
                border-right: 1rem solid transparent;
                border-bottom: 1.9rem solid $colorLight;
                z-index: 4;
              }
              @media (max-width: 479.98px) {
                &::before {
                  right: 58.4%;
                }
              }
            }
            .component {
              padding: 1rem;
              background-color: #fff;
              .notice {
                display: flex;
                align-items: center;
                background-color: #2d3c800a;
                box-shadow: 0px 3px 6px #00000008;
                padding: 3rem 1rem;
                border-radius: 0.5rem;
                &:not(:first-of-type) {
                  margin-top: 1rem;
                }
                &.active {
                  border: 0.2rem solid $colorLight;
                }
                .fa-bell {
                  font-size: 3rem;
                  width: 6rem;
                  height: 6rem;
                  border-radius: 50%;
                  background-color: $colorLight;
                  transform: rotate(-15deg); // RTL
                  color: #f9ac31;
                  border: 1px solid #ababff;
                  @include flexCenter;
                  @media (max-width: 479.98px) {
                    width: 5rem;
                    height: 4rem;
                  }
                }
                .notice_details {
                  display: flex;
                  flex-direction: column;
                  font-size: 1.5rem;
                  margin: 0 1rem;
                  a {
                    color: #1c335b;
                    font-weight: 600;
                  }
                  span {
                    margin: 0;
                    font-weight: normal;
                    margin-top: 1.5rem;
                    a {
                      color: $colorLight;
                      font-weight: normal;
                    }
                  }
                }
                .time {
                  display: flex;
                  align-items: center;
                  align-self: flex-start;
                  margin-right: auto;
                  i {
                    color: #bcc0d4;
                    font-size: 2rem;
                  }
                  span {
                    color: #474747;
                    font-size: 1.4rem;
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .tabs_wrapper {
    height: 100%;
    transition: all 0.4s ease-in-out;
    .tabs_nav {
      height: 100%;
      background: linear-gradient(180deg, #131b2d 0%, #177ba2 100%);
      font-size: 1.5rem;
      color: #fff;
      padding: 3rem 0;
      .logo {
        padding: 0 3rem;
        img {
          width: 100%;
        }
      }
      form {
        margin: 6rem 0;
        .tabs_search {
          position: relative;
          width: 18rem;
          max-width: 100%;
          margin: auto;
          label {
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }
          input[type="search"] {
            background-color: $colorLight;
            color: #fff;
            border-radius: 4.4rem;
            border: none;
            padding: 0.5rem 1rem;
            outline: none;
            width: 18rem;
            max-width: 100%;
            &::placeholder {
              color: #fff;
              font-size: bold;
            }
          }
        }
        .tabs_filter {
          display: flex;
          justify-content: center;
          align-items: center;
          // padding: 0 3rem;
          margin-top: 1.6rem;
          .form-check {
            display: flex;
            align-items: center;
            margin: 0 0.5rem;
            label {
              font-size: 1rem;
              cursor: pointer;
            }
            .form-check-input {
              float: unset;
              margin-right: 0.5rem;
              margin-top: 0;
              cursor: pointer;
            }
          }
        }
      }
      .tabs {
        width: 100%;
        padding-left: 2rem;
        ul {
          li {
            position: relative;
            font-size: 1.8rem;
            font-weight: bold;
            padding: 1.5rem;
            margin: 3rem 0;
            user-select: none;
            transition: 0.3s;
            cursor: pointer;
            &:not(:last-child) {
              border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
            }
            a {
              color: #fff;
              text-decoration: none;
              padding-bottom: 2.5rem;
            }
            &.active {
              position: relative;
              border: none;
              border-radius: 4.4rem 0 0 4.4rem;
              background-color: rgb(235, 238, 246);
              a {
                color: #000;
                border-bottom: none;
              }
              &::before {
                content: "";
                position: absolute;
                top: -3rem;
                left: 0;
                background: url(../icons/dashboard/arrow_down.svg);
                width: 5rem;
                height: 3rem;
                background-repeat: no-repeat;
                filter: drop-shadow(
                  -0.1rem 0.1rem 0.1rem rgba(119, 119, 119, 0.1)
                );
              }
              &::after {
                content: "";
                position: absolute;
                bottom: -3rem;
                left: 0;
                background: url(../icons/dashboard/arrow_up.svg);
                width: 5rem;
                height: 3rem;
                background-repeat: no-repeat;
                filter: drop-shadow(
                  -0.1rem -0.1rem 0.1rem rgba(119, 119, 119, 0.1)
                );
              }
            }
          }
        }
      }
      .add_new_client {
        margin-top: 10rem;
        button {
          background-color: $colorLight;
          border: none;
          outline: none;
          color: #fff;
          font-size: 1.2rem;
          padding: 0.5rem 1rem;
          margin: auto;
          border-radius: 4.4rem;
          transition: 0.3s;
          @include flexCenter;
          @include buttonHover;
          @media (max-width: 992px) {
            transition: unset !important;
            animation: unset !important;
          }
          i {
            margin: 0 0.5rem;
          }
        }
      }
    }
  }
  .dashboard_content {
    padding-top: 10rem;
    .gap {
      gap: 2rem 0;
    }
    .category_item {
      background-color: #fff;
      box-shadow: 0px 0.3rem 0.6rem 0 rgba($color: #000000, $alpha: 0.3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.5rem;
      padding-bottom: 2rem;
      position: relative;
      transition: 0.3s;
      &:hover {
        box-shadow: 0px 0.3rem 0.1rem 0 rgba($color: #000000, $alpha: 0.1);
      }
      @media (max-width: 992px) {
        transition: unset !important;
        animation: unset !important;
      }
      .category {
        padding: 1rem 2rem;
        span {
          display: block;
          &:first-of-type {
            color: $colorDark;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
          }
          &:nth-child(2) {
            display: inline;
            font-size: 1.8rem;
            font-weight: 600;
            color: $colorLight;
          }
          &:nth-child(3) {
            display: inline;
            font-size: 1.8rem;
            font-weight: 600;
            color: $colorLight;
          }
        }
      }
      .category_icon {
        padding: 1.5rem 3rem;
        border-radius: 0.5rem;
        img {
          width: 5rem;
        }
      }
    }
    .status {
      background-color: #fff;
      padding: 3rem;
      box-shadow: 0 0 0.6rem 0.3rem #0000001a;
      border-radius: 0.4rem;
      border-right: 0.3rem solid $lightGreen;
      .status_btn {
        background-color: #ebeef6;
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        button {
          position: relative;
          border: none;
          outline: none;
          color: #fff;
          text-align: center;
          border-radius: 4.4rem;
          padding: 0.5rem 3rem;
          margin: 0 1rem;
          font-weight: bold;
          z-index: 1;
          transition: all 0.3s ease;
          width: 12rem;
          height: 3.5rem;
          span {
            font-size: 1.4rem;
          }
          .icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            background-color: #fd393a;
            border-radius: 4.4rem;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all 0.3s ease;
            i {
              position: absolute;
              transition: all 0.3s ease;
              transform: translateX(-0.2rem);
              font-size: 3rem;
            }
          }
          &.active {
            .icon {
              background-color: #41ec4b;
              border-radius: 4.4rem;
              i {
                position: absolute;
                transform: translateX(-8.8rem);
              }
            }
          }
        }
      }
      .company_status {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem 0;
        .company_name,
        .company_code,
        .company_field,
        .company_deals,
        .company_deal_date {
          flex: 1 0 33.33333333333333333%;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 1rem 0;
          @media (max-width: 479.98px) {
            flex: 1 0 auto;
          }
          i {
            color: #48cafb;
            font-size: 1.6rem;
            margin-left: 0.8rem;
          }
          span {
            font-size: 1.6rem;
            &:first-child {
              font-weight: 600;
            }
            &:last-child {
              margin: 0 1rem;
              color: $colorLight;
            }
          }
        }
        .company_field {
          flex: 1 0 auto;
        }
        .company_deal_date {
          flex-grow: 0;
          @media (max-width: 1400px) {
            flex-grow: 1;
          }
          @media (max-width: 991.98px) {
            flex-grow: 1;
          }
        }
      }
    }
    .company_info {
      background-color: #fff;
      padding: 3rem;
      box-shadow: 0 0 0.6rem 0.3rem #0000001a;
      border-radius: 0.4rem;
      margin: 1rem 0 2rem;
      border-right: 0.3rem solid $lightGreen;
      .info_elements {
        background-color: #ebeef6;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem 0;
        padding: 2rem;
        .representative,
        .company_phone,
        .company_mobile,
        .company_email {
          flex-grow: 1;
          i {
            color: #48cafb;
            font-size: 1.6rem;
            margin-left: 0.8rem;
          }
          span {
            font-size: 1.6rem;
            &:first-child {
              font-weight: 600;
            }
            &:last-child {
              margin: 0 1rem;
              color: $colorLight;
            }
          }
        }
      }
    }
    .service_content {
      border-radius: 0.4rem;
      .service_head {
        background-color: #fff;
        padding: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 0;
        border-radius: 0.4rem 0.4rem 0 0;
        h3 {
          flex-grow: 1;
        }
        .start_date,
        .expire_date,
        .service_code {
          flex: 1 0 auto;
          display: flex;
          align-items: center;
          i {
            color: #48cafb;
            font-size: 1.6rem;
            margin-left: 0.8rem;
          }
          span {
            font-size: 1.6rem;
            font-weight: 600;
            &:last-child {
              margin: 0 1rem;
              color: $colorLight;
              font-weight: normal;
            }
          }
        }
      }

      .service_info {
        text-align: center;
        background-color: #fff;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
        padding: 4rem 3rem;
        transition: all 0.3s ease;
        transform: translateY(-40rem) scale(0);
        opacity: 0;
        visibility: hidden;
        display: none;
        box-shadow: 0 0 0.6rem 0.3rem #0000001a;
        @media (max-width: 410px) {
          padding: 4rem 0;
        }
        &.active {
          transform: translateY(0) scale(1);
          opacity: 1;
          visibility: visible;
          display: block;
        }
        .service_progress {
          direction: ltr;
          &.no_click {
            pointer-events: none;
          }
          .steps {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
              flex: 0 0 16.666666666666666667%;
              cursor: pointer;
              .step_status {
                color: #89c152;
                user-select: none;
                span {
                  text-align: center;
                  display: block;
                  &:first-child {
                    margin: 0.5rem 0;
                    font-size: 1.8rem;
                    font-weight: bold;
                    @media (max-width: 410px) {
                      font-size: 1rem;
                    }
                  }
                  &:last-child {
                    font-size: 1.2rem;
                    margin: 0.5rem 0;
                    @media (max-width: 410px) {
                      font-size: 1rem;
                    }
                  }
                }
              }
              &:not(:first-child) {
                .step_shape {
                  &::after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    height: 3rem;
                    left: -35%;
                    width: 70%;
                    background-color: #fff;
                    border-top: 0.2rem dashed #89c152;
                    border-bottom: 0.2rem dashed #89c152;
                    @media (max-width: 410px) {
                      left: -15%;
                      width: 31%;
                    }
                    @media (min-width: 410px) {
                      left: -23%;
                      width: 45%;
                    }
                    @media (min-width: 480px) {
                      left: -28%;
                      width: 55%;
                    }
                    @media (min-width: 576px) {
                      left: -32%;
                      width: 64%;
                    }
                    @media (min-width: 768px) {
                      left: -30%;
                      width: 59%;
                    }
                    @media (min-width: 992px) {
                      left: -29%;
                      width: 58%;
                    }
                    @media (min-width: 1200px) {
                      left: -33%;
                      width: 66%;
                    }
                    @media (min-width: 1400px) {
                      left: -38%;
                      width: 76%;
                    }
                  }
                }
              }
              .step_shape {
                position: relative;
                @include flexCenter;
                padding: 2rem;
                border-radius: 50%;
                cursor: pointer;
                &::before {
                  content: "";
                  position: absolute;
                  width: 7rem;
                  height: 7rem;
                  border-radius: 50%;
                  background-color: transparent;
                  border: 0.2rem dashed #89c152;
                }
                .step_icon {
                  position: relative;
                  width: 5rem;
                  height: 5rem;
                  background-color: #e4e4e4;
                  border-radius: 50%;
                  filter: drop-shadow(0px 0px 0.2rem rgba(0, 0, 0, 0.5));
                  @include flexCenter;
                  &::before {
                    content: "\f111";
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 2.5rem;
                    color: #89c152;
                  }
                }
              }
              &.active {
                .step_status {
                  color: #1a3673;
                }
                .step_shape {
                  z-index: 6;
                  &::before {
                    background-color: #89c152;
                  }
                  &::after {
                    background-color: #89c152;
                  }
                  .step_icon {
                    &::before {
                      content: "\f00c";
                    }
                  }
                }
              }
            }
          }
        }
      }

      .payments {
        margin-top: 5rem;
        .head {
          background-color: #27394c;
          color: #fff;
          padding: 2rem 3rem;
          border-radius: 0.4rem;
          box-shadow: 0 0 0.6rem 0.3rem #0000001a;
          h3 {
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
            font-weight: bold;
          }
        }
        .batch {
          font-size: 1.6rem;
          display: flex;
          flex-wrap: wrap;
          gap: 2rem 0;
          border: 1px solid #27394c;
          margin-top: 1rem;
          padding: 2rem;
          justify-content: space-between;
          border-radius: 0.4rem;
          box-shadow: 0 0 0.6rem 0.3rem #0000001a;
          .batch_budget,
          .batch_status,
          .batch_code {
            flex: 1 0 auto;
            font-weight: bold;
            span {
              &:first-child {
                font-weight: bold;
                color: $colorDark;
              }
              &:last-child {
                font-weight: normal;
                color: $colorLight;
                margin: 0 1.5rem;
              }
            }
          }
          .batch_status {
            span {
              &:last-child {
                color: $lightGreen;
              }
            }
          }
          &.inactive {
            color: #777;
            border-color: #777;
            span {
              color: #777 !important;
            }
          }
        }
      }

      .reports {
        margin-top: 5rem;
        box-shadow: 0 0 0.6rem 0.3rem #0000001a;
        .head {
          background-color: $colorDark;
          color: #fff;
          padding: 3rem;
          display: flex;
          justify-content: space-between;
          border-radius: 0.4rem;
          h3 {
            font-size: 2rem;
            font-weight: bold;
          }
          form {
            input[type="button"] {
              font-size: 1.4rem;
              background-color: #fff;
              color: #777;
              padding: 0.5rem 2rem;
              border: none;
              outline: none;
              border-radius: 0.3rem;
            }
            label[for="upload"] {
              font-size: 1.4rem;
              padding: 0.5rem 1rem;
              margin: 0 1.5rem;
              border: 1px solid #fff;
              border-radius: 0.3rem;
              cursor: pointer;
              i {
                margin: 0 1rem;
              }
            }
            input[type="file"] {
              display: none;
            }
          }
        }
        .report_files {
          margin-top: 1rem;
          padding: 2rem;
          .file {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-child) {
              border-bottom: 1px solid #d6d6d6;
              margin-bottom: 2rem;
            }
            .report_title {
              img {
                width: 4rem;
                max-width: 100%;
              }
              span {
                font-size: 1.6rem;
                margin: 0 1rem;
              }
            }
            .file_data {
              span {
                font-size: 1.6rem;
                padding: 0 1rem;
                border-left: 1px solid #777;
              }
              a {
                padding-right: 1rem;
                img {
                  width: 4rem;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }

      .service_button {
        background-color: #1b91bd;
        box-shadow: 0 0 0.6rem 0.3rem #0000001a;
        border: none;
        outline: none;
        border-radius: 0 0 0.4rem 0.4rem;
        width: 100%;
        height: 2.5rem;
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
        line-height: 2.5rem;
        transition: all 0.3s ease;
        i {
          transition: all 0.3s ease;
          transform: rotate(0);
        }
        &.active {
          i {
            transform: rotate(180deg);
          }
        }
        &:hover {
          background-color: #41c8fb;
        }
        @media (max-width: 992px) {
          transition: unset !important;
          animation: unset !important;
        }
      }
    }
    .add_service_button {
      text-align: center;
      padding-bottom: 3rem;
      margin-top: 5rem;
      button {
        background-color: $colorLight;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 4.4rem;
        font-size: 2rem;
        padding: 1rem 2rem;
        transition: 0.3s ease;
        @include buttonHover;
        @media (max-width: 992px) {
          transition: unset !important;
          animation: unset !important;
        }
        span {
          border-left: 1px solid #fff;
          padding-left: 1rem;
        }
        i {
          padding-right: 1rem;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .dashboard_page {
    .tabs_toggler {
      position: fixed;
      top: 2.8rem;
      left: 1rem; // RTL
      z-index: 3;
      .toggler {
        display: block;
      }
    }
    .dash_nav {
      width: 100%;
    }
    .tabs_wrapper {
      height: 100%;
      width: 0;
      bottom: 0;
      z-index: 2;
      position: fixed;
      top: 0rem;
      left: -25rem; // RTL
      &.opened {
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
      }
      .logo {
        margin-top: 4rem;
      }
      .tabs {
        margin-top: 0;
      }
      .tabs_nav {
        width: 35%;
        overflow-y: scroll;
        .tabs {
          margin-top: 1rem;
        }
      }
    }
  }
}

.add_client_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba($color: #000000, $alpha: 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  &.show_model {
    opacity: 1;
    visibility: visible;
  }
  .modal_body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    &.show_body {
      transform: translate(-50%, -50%) scale(1);
    }
    .modal_content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 5rem;
      @include flexCenter;
      .close_modal {
        position: absolute;
        top: 0;
        right: 0;
        button {
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 2rem;
          padding: 0.5rem 1.5rem;
          i {
            transition: 0.3s ease;
          }
          &:hover {
            i {
              color: #d63031;
            }
          }
          @media (max-width: 992px) {
            transition: unset !important;
            animation: unset !important;
          }
        }
      }
      @include main_form;
      .main_form {
        label {
          i {
            left: unset;
            right: 2rem;
          }
        }
        label[for="password"] {
          i {
            &:last-child {
              right: 90%;
              cursor: pointer;
            }
          }
        }
        P {
          font-size: 1.6rem;
          color: green;
          opacity: 0;
        }
      }
      .add_client_form {
        .attention {
          p {
            text-align: center;
            font-size: 1.6rem;
          }
        }
        .validation {
          align-self: flex-start;
          margin-top: 2rem;
          font-size: 1.4rem;
          transition: all 0.3s ease;
          opacity: 0;
          visibility: hidden;
          height: 0;
          &.show {
            opacity: 1;
            visibility: visible;
            height: auto;
          }
          p {
            transition: all 1s ease;
            margin-bottom: 0.3rem;
            &.valid {
              color: $colorLight;
              opacity: 0;
              &::before {
                content: "\f00c";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin: 0 1rem;
              }
            }
            &.invalid {
              color: #e74c3c;
              opacity: 1;
              display: block;
              &::before {
                content: "\f00d";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin: 0 1rem;
              }
            }
          }
        }
        &.hide {
          display: none;
        }
      }
      .created {
        &.hide {
          display: none;
        }
        &.show {
          display: block;
        }
        .created_icon {
          text-align: center;
          @include flexCenter;
          flex-direction: column;
          margin-bottom: 3rem;
          i {
            font-size: 15rem;
            color: $colorLight;
          }
          p {
            color: #000;
            font-weight: 600;
            font-size: 2rem;
          }
        }
        .results {
          text-align: center;
          span {
            display: block;
            font-size: 2rem;
            direction: ltr;
            &.email {
            }
            &.password {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
.add_service_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  .modal_body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    padding: 4rem;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    &.show {
      transform: translate(-50%, -50%) scale(1);
    }
    .close_modal {
      position: absolute;
      top: 0;
      right: 0;
      button {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 2rem;
        padding: 0.5rem 1.5rem;
        i {
          transition: 0.3s ease;
        }
        &:hover {
          i {
            color: #d63031;
          }
        }
        @media (max-width: 992px) {
          transition: unset !important;
          animation: unset !important;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .choose_service {
        position: relative;
      }
      label {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        i {
          color: #fff;
          font-size: 2rem;
        }
      }
      input {
        border: none;
        outline: none;
        background-color: #2d3e50;
        color: #fff;
        font-size: 2rem;
        padding: 1rem 2rem;
        width: 100%;
        border-radius: 0.4rem;
        &::placeholder {
          color: #fff;
        }
      }
      input[type="submit"] {
        margin-top: 2rem;
        background: transparent
          linear-gradient(90deg, #5ad1ff 0%, #25b0e5 100%, #9d009e 100%);
        color: #fff;
        padding: 1.5rem;
        transition: all 0.4s ease;
        box-shadow: 0 0.3rem 0.6rem #00000029;
        border-radius: 4.4rem;
        @include buttonHover;
        @media (max-width: 992px) {
          transition: unset !important;
          animation: unset !important;
        }
      }
    }
  }
}

.notify {
  position: fixed;
  bottom: 3rem;
  background-color: #fff;
  width: 24rem;
  text-align: center;
  padding: 2rem;
  border-radius: 0.6rem;
  right: -26rem;
  box-shadow: 0 0 0.6rem 0.3rem #0000001a;
  z-index: 3;
  transition: all 0.3s ease;
  user-select: none;
  .notify_body {
    h3 {
      font-weight: bold;
      i {
        margin-left: 1rem;
      }
    }
  }
  &.show {
    right: 1rem;
  }
  audio {
    display: none;
  }
}

// Page color framework
.light_orange_dash {
  background-color: rgba($color: $lightOrange, $alpha: 0.06);
}
.light_green_dash {
  background-color: rgba($color: $lightGreen, $alpha: 0.06);
}

.light_black_dash {
  background-color: rgba($color: $lightBlack, $alpha: 0.06);
}

.light_purple_dash {
  background-color: rgba($color: $lightPurple, $alpha: 0.06);
}

// RTL
html[dir="rtl"] {
  .dashboard_page {
    @media (max-width: 991.98px) {
      .tabs_toggler {
        left: unset;
        right: 1rem;
      }
    }
    .tabs_toggler {
      .toggler {
        left: unset;
        right: 25%;
      }
    }
    .tabs_wrapper {
      left: unset;
      right: -25rem;
      &.opened {
        left: unset;
        right: 0;
      }
      .tabs_nav {
        .tabs {
          padding-left: unset;
          padding-right: 2rem;
          ul {
            li {
              &.active {
                border-radius: 0 4.4rem 4.4rem 0;
              }
            }
          }
        }
      }
    }
    .dash_nav {
      right: unset;
      left: 0;
      .notifcation_bar {
        .user_details {
          .notifcation_menu {
            .menu {
              left: unset;
              right: -41.3rem;
              .head {
                &::before {
                  right: unset;
                  left: 20.5%;
                }
              }
              @media (max-width: 479.98px) {
                right: -15.5rem;
                .head {
                  &::before {
                    left: 58.2%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
