body {
  &.fix_body {
    overflow: unset;
    background-color: #ebeef6;
  }
}
.dashboard_page {
  font-family: "Poppins", sans-serif;
  background-color: #ebeef6;
  @media (min-width: 992px) {
    overflow-x: hidden;
  }
  .tabs_toggler {
    .toggler {
      background: transparent;
      width: 4.5rem;
      line-height: 0.5;
      padding: 0 0.3125em 0.3125em;
      font-size: 1.0625rem;
      border: none;
      outline: none;
      z-index: 3;
      display: none;
      span {
        background-color: #000;
        width: 100%;
        height: 0.3rem;
        display: inline-block;
        transition: all 0.3s linear;
        position: relative;
      }
      &.clicked {
        span {
          &:first-child {
            transform: rotate(45deg);
            top: 0.6rem;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            transform: rotate(135deg);
            top: -0.563rem;
          }
        }
      }
      &.close {
        position: fixed;
        top: 2rem;
        left: 25%;
        z-index: 99;
        width: 5rem;
        span {
          background-color: #fff;
        }
      }
    }
  }

  .dash_nav {
    font-size: 2rem;
    position: fixed;
    right: 0; // RTL
    width: 84.2%;
    z-index: 1;
    .notifcation_bar {
      position: relative;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 5rem;
      .toggler_space {
        @media (max-width: 991.98px) {
          flex-grow: 0.05;
        }
      }
      h3 {
        flex-grow: 0.9;
        font-weight: 600;
        font-size: 2.5rem;
      }
      .user_details {
        display: flex;
        align-items: center;
        img {
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          border-radius: 50%;
        }
        span {
          margin: 0 1rem;
          font-weight: bold;
          font-weight: 600;
          font-size: 1.6rem;
        }
        .notifcation_menu {
          position: relative;
          a {
            text-decoration: none;
            color: #000;
            span {
              position: absolute;
              top: 0.2rem;
              left: 0.1rem;
              width: 1.4rem;
              height: 1.4rem;
              font-size: 1rem;
              color: #fff;
              background-color: #e1020c;
              border-radius: 50%;
              @include flexCenter;
              user-select: none;
            }
            i {
              margin: 0 1.5rem;
            }
          }
          .menu {
            position: absolute;
            top: 4.7rem;
            left: -41.3rem;
            width: 56rem;
            background-color: #fff;
            box-shadow: 0px 3px 6px #00000012;
            z-index: 4;
            transition: 0.3s ease;
            opacity: 0;
            visibility: hidden;
            @media (max-width: 479.98px) {
              width: 45rem;
              left: -15.3rem;
            }
            &.show {
              opacity: 1;
              visibility: visible;
            }
            .head {
              position: relative;
              display: flex;
              align-items: center;
              padding: 1rem;
              color: #fff;
              background-color: $colorLight;
              h4 {
                margin: 0 1rem;
              }
              &::before {
                content: "";
                position: absolute;
                top: -1.8rem;
                right: 20%;
                width: 0;
                height: 0;
                border-left: 1rem solid transparent;
                border-right: 1rem solid transparent;
                border-bottom: 1.9rem solid $colorLight;
                z-index: -18;
              }
              @media (max-width: 479.98px) {
                &::before {
                  right: 58.4%;
                }
              }
            }
            .component {
              padding: 1rem;
              background-color: #fff;
              .notice {
                display: flex;
                align-items: center;
                background-color: #2d3c800a;
                box-shadow: 0px 3px 6px #00000008;
                padding: 3rem 1rem;
                border-radius: 0.5rem;
                &:not(:first-of-type) {
                  margin-top: 1rem;
                }
                &.active {
                  border: 0.2rem solid $colorLight;
                }
                .fa-bell {
                  font-size: 3rem;
                  width: 6rem;
                  height: 6rem;
                  border-radius: 50%;
                  background-color: $colorLight;
                  transform: rotate(-15deg); // RTL
                  color: #f9ac31;
                  border: 1px solid #ababff;
                  @include flexCenter;
                  @media (max-width: 479.98px) {
                    width: 5rem;
                    height: 4rem;
                  }
                }
                .notice_details {
                  display: flex;
                  flex-direction: column;
                  font-size: 1.5rem;
                  margin: 0 1rem;
                  a {
                    color: #1c335b;
                    font-weight: 600;
                  }
                  span {
                    margin: 0;
                    font-weight: normal;
                    margin-top: 1.5rem;
                    a {
                      color: $colorLight;
                      font-weight: normal;
                    }
                  }
                }
                .time {
                  display: flex;
                  align-items: center;
                  align-self: flex-start;
                  margin-left: auto; // RTL
                  i {
                    color: #bcc0d4;
                    font-size: 2rem;
                  }
                  span {
                    color: #474747;
                    font-size: 1.4rem;
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .tabs_wrapper {
    height: 100%;
    transition: all 0.4s ease-in-out;
    .tabs_nav {
      height: 100%;
      background: linear-gradient(180deg, #131b2d 0%, #177ba2 100%);
      font-size: 1.5rem;
      color: #fff;
      padding: 3rem 0;
      .logo {
        padding: 0 3rem;
        img {
          width: 100%;
        }
      }
      .tabs {
        margin-top: 3rem;
        width: 100%;
        padding-left: 2rem;
        ul {
          li {
            position: relative;
            padding: 1.5rem;
            margin: 2rem 0;
            text-align: center;
            user-select: none;
            transition: 0.3s;
            cursor: pointer;
            a {
              color: #fff;
              text-decoration: none;
              border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
              padding-bottom: 2.5rem;
            }
            &.active {
              position: relative;
              border: none;
              border-radius: 4.4rem 0 0 4.4rem;
              background-color: rgb(235, 238, 246);
              a {
                color: #000;
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
  .dashboard_content {
    padding-top: 10rem;
    .gap {
      gap: 2rem 0;
    }
    .category_item {
      background-color: #fff;
      box-shadow: 0px 0.3rem 0.6rem 0 rgba($color: #000000, $alpha: 0.3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.5rem;
      padding-bottom: 2rem;
      font-family: "Cairo", sans-serif;
      position: relative;
      transition: 0.3s;
      &:hover {
        box-shadow: 0px 0.3rem 0.1rem 0 rgba($color: #000000, $alpha: 0.1);
      }
      .category {
        padding: 1rem 2rem;
        span {
          display: block;
          &:first-of-type {
            color: $colorDark;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1rem;
          }
          &:nth-child(2) {
            display: inline;
            font-size: 1.5rem;
            font-weight: 600;
            color: $colorLight;
          }
          &:nth-child(3) {
            display: inline;
            font-size: 1.5rem;
            font-weight: 600;
            color: $colorLight;
          }
        }
      }
      .category_icon {
        padding: 1.5rem 3rem;
        border-radius: 0.5rem;
        img {
          width: 5rem;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .dashboard_page {
    .tabs_toggler {
      position: fixed;
      top: 2.8rem;
      left: 1rem; // RTL
      z-index: 3;
      .toggler {
        display: block;
      }
    }
    .dash_nav {
      width: 100%;
    }
    .tabs_wrapper {
      height: 100%;
      width: 0;
      bottom: 0;
      z-index: 2;
      position: fixed;
      top: 0rem;
      left: -25rem; // RTL
      &.opened {
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
      }
      .logo {
        margin-top: 4rem;
      }
      .tabs {
        margin-top: 0;
      }
      .tabs_nav {
        width: 35%;
        overflow-y: scroll;
        .tabs {
          margin-top: 1rem;
        }
      }
    }
  }
}

// Page color framework
.light_orange {
  background-color: rgba($color: $lightOrange, $alpha: 0.06);
}
.light_green {
  background-color: rgba($color: $lightGreen, $alpha: 0.06);
}

.light_black {
  background-color: rgba($color: $lightBlack, $alpha: 0.06);
}

.light_purple {
  background-color: rgba($color: $lightPurple, $alpha: 0.06);
}

// RTL
html[dir="rtl"] {
  .dashboard_page {
    @media (max-width: 991.98px) {
      .tabs_toggler {
        left: unset;
        right: 1rem;
      }
    }
    .tabs_toggler {
      .toggler {
        left: unset;
        right: 25%;
      }
    }
    .tabs_wrapper {
      left: unset;
      right: -25rem;
      &.opened {
        left: unset;
        right: 0;
      }
      .tabs_nav {
        .tabs {
          padding-left: unset;
          padding-right: 2rem;
          ul {
            li {
              &.active {
                border-radius: 0 4.4rem 4.4rem 0;
              }
            }
          }
        }
      }
    }
    .dash_nav {
      right: unset;
      left: 0;
      .notifcation_bar {
        .user_details {
          .notifcation_menu {
            .menu {
              left: unset;
              right: -41.3rem;
              .head {
                &::before {
                  right: unset;
                  left: 20.5%;
                }
              }
            }
          }
        }
      }
    }
  }
}
