.shdow_element {
  margin-bottom: 4rem;
  margin-top: -4rem;
  padding: 5rem;
  box-shadow: 0 0.3rem 0.6rem #0000001a;
}

// Types OF issues
.issues_section {
  margin-top: -7.5rem;
  .grid_container {
    display: grid;
    grid: 20rem / repeat(auto-fit, minmax(1rem, 1fr));
    gap: 1.5rem;
  }
  .flex {
    @include flexCenter;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 0 0.8rem 0.4rem #0000001a;
    width: 30rem;
    max-width: 100%;
    position: relative;
    transform: translateY(-0.3rem);
    transition: 0.3s ease;
    border-top: 0.5rem solid;
    border-radius: 0.7rem;
    &:hover {
      transform: translateY(0.3rem);
      box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.3);
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &:first-of-type {
      border-color: $lightPurple;
      &::after {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 50%,
          rgba(76, 28, 213, 0.03) 50%
        );
      }
    }
    &:nth-of-type(2) {
      border-color: $lightBlue;
      &::after {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 50%,
          rgba(2, 101, 236, 0.03) 50%
        );
      }
    }
    &:nth-of-type(3) {
      border-color: $lightGreen;
      &::after {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 50%,
          rgba(75, 176, 81, 0.03) 50%
        );
      }
    }
    &:last-of-type {
      border-color: $lightBlack;
      &::after {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 50%,
          rgba(44, 62, 81, 0.03) 50%
        );
      }
    }
  }
  .img_wrapper {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    @include flexCenter;
    &.light_purple {
      border: 0.2rem solid $lightPurple;
    }
    &.light_blue {
      border: 0.2rem solid $lightBlue;
    }
    &.light_green {
      border: 0.2rem solid $lightGreen;
    }
    &.light_black {
      border: 0.2rem solid $lightBlack;
    }
    img {
      width: 5rem;
      height: 5rem;
    }
  }
  span {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }
}

// Home About Us
.home_about_us {
  position: relative;
  border-top: 0.1rem solid rgba(112, 112, 112, 0.14);
  background: url(../icons/about_background.svg);
  background-size: cover;
  background-position: top;
  margin-bottom: 15rem;
  .whats_app,
  .twitter {
    position: fixed;
    top: 47%;
    left: 0; // RTL
    transform: translateY(-50%);
    z-index: 99;
    width: 7rem;
    height: 5rem;
    background-color: #fff;
    box-shadow: 0 0.3rem 0.6rem #0000001f;
    border-radius: 0 4.5rem 4.5rem 0; // RTL
    transition: 0.3s ease;
    @include flexCenter;
    opacity: 0;
    visibility: hidden;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    i {
      font-size: 3rem;
      color: #3bb1de;
      &:last-child {
      }
    }
  }
  .whats_app {
    i {
      color: #25d366;
    }
  }
  .twitter {
    top: 53%;
    i {
      color: #3bb1de;
    }
  }
  .heading {
    @include underLineDotted;
  }

  .grid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 25% 25% 25% 25%;
    height: 100%;
    gap: 2rem;
    margin-top: 4rem;
  }

  .about_content {
    grid-column: 1 / span 7;
    grid-row: 2 / span 2;
    @media (max-width: 479.98px) {
      grid-column: 1 / span 12;
      grid-row: 1 / span 2;
    }
    @media (min-width: 370px) and (max-width: 479.98px) {
      margin-bottom: 12rem;
    }
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.4) 50%
    );
    box-shadow: 0 0.3rem 0.6rem #00000029;
    padding: 2rem 7rem 2rem 2rem; // RTL
    place-self: center stretch;
    border-radius: 0.7rem;
    position: relative;
    z-index: 2;
    h3 {
      font-size: 3rem;
      border-left: 0.4rem solid #25b0e5;
      padding: 0 0.6rem;
    }
    p {
      font-size: 1.6rem;
      color: #949fb2;
    }
    button {
      font-size: 2rem;
      background-color: #25b0e5;
      position: absolute;
      left: 55%;
      padding: 0.5rem 3.5rem;
      transition: 0.3s ease-in-out;
      @media (max-width: 479.98px) {
        padding: 0.5rem 2.5rem;
      }
      i {
        animation: buttonChevronHover 1s ease infinite alternate;
        @media (max-width: 479.98px) {
          animation: buttonChevronHoverSm 1s ease infinite alternate;
        }
      }

      &:hover {
        background-color: #34c7ff;
      }
    }
  }

  .about_video {
    grid-column: 7 / span 12;
    grid-row: 1 / span 4;
    position: relative;
    box-shadow: 0 0.3rem 0.6rem #00000029;
    @media (max-width: 479.98px) {
      grid-column: 1 / span 12;
      grid-row: 3 / span 4;
    }
    .video_wrapper {
      height: 100%;
      position: relative;
      &::before {
        content: "";
        width: 7rem;
        height: 7rem;
        background-color: $colorLight;
        position: absolute;
        opacity: 0.64;
        top: -1rem;
        right: -1rem;
        z-index: -1;
        border-radius: 0.4rem;
      }
      &::after {
        content: "";
        width: 7rem;
        height: 7rem;
        background-color: $colorLight;
        position: absolute;
        opacity: 0.64;
        bottom: -1rem;
        left: -1rem; // RTl
        z-index: -1;
        border-radius: 0.4rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: pixelated;
        border-radius: 0.4rem;
      }
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0.4rem;
        @include flexCenter;
        span {
          position: relative;
          @include flexCenter;
          font-size: 4rem;
          color: #34c7ff;
          width: 8rem;
          height: 8rem;
          background-color: #fff;
          border-radius: 50%;
          transition: 0.3s;
          i {
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);
          }
          &:hover {
            width: 9rem;
            height: 9rem;
            font-size: 5rem;
          }
        }
      }
    }
  }
}

// Clients Numbers
.clients_number {
  background: url(../img/main_bg_3.png) fixed no-repeat;
  background-size: cover;
  background-color: rgba($color: #000000, $alpha: 0.5);
  background-blend-mode: overlay;
  image-rendering: pixelated;
  padding: 5rem;
  position: relative;

  .grid_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    place-items: center;
    column-gap: 1rem;
    @media (max-width: 479.98px) {
      gap: 2rem 3rem;
    }
  }
  .grid_item {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    user-select: none;
    i {
      font-size: 3.5rem;
      width: 7rem;
      height: 7rem;
      text-align: center;
      line-height: 7rem;
      border-radius: 50%;
      background-color: rgba(166, 223, 244, 0.2);
      transition: 0.5s;
      &:hover {
        transform: rotate(360deg);
      }
    }
    span {
      &:first-of-type {
        font-size: 3rem;
      }
    }
    .type {
      font-size: 2rem;
      color: #eee;
    }
    &:first-of-type {
      grid-column: 1 / span 3;
      flex-direction: row;
      flex-wrap: nowrap;
      z-index: 1;
      @media (max-width: 479.98px) {
        grid-column: 1 / span 7;
      }
      .expereince {
        display: flex;
        border-left: 0.6rem solid #fff;
        border-bottom: 0.6rem solid #fff;
        border-top: 0.6rem solid #fff;
        padding: 3rem;
        position: relative;
        width: 26rem;
        max-width: 100%;
        &::before {
          content: "";
          position: absolute;
          width: 0.6rem;
          height: 2.5rem;
          top: -0.1rem;
          right: 0;
          background-color: #fff;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0.6rem;
          height: 2.5rem;
          bottom: -0.1rem;
          right: 0;
          background-color: #fff;
        }
        h3 {
          font-size: 7rem;
          font-weight: bold;
        }
        .years {
          font-size: 2rem;
          align-self: center;
        }
        .blue_box {
          position: absolute;
          top: -2.5rem;
          left: -2.5rem;
          z-index: -1;
          width: 5rem;
          height: 5rem;
          background-color: $colorLight;
          border-radius: 0.4rem;
        }
      }
      p {
        font-size: 2rem;
        margin-left: -2.5rem; // RTL
        @media (max-width: 479.98px) {
          margin-left: -7.5rem; //RTL
        }
      }
    }
  }

  .chevron_down {
    position: absolute;
    z-index: -1;
    bottom: -1.8rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

// Our Services
.our_services {
  position: relative;
  color: #fff;
  &::before {
    content: "";
    background: url(../icons/our_services.svg) no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: -3rem;
  }
  .heading {
    @include underLineDotted;
  }
  .grid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    padding: 15rem 2rem;
    gap: 2rem;
    @media (min-width: 1400px) {
      padding: 19rem 2rem;
    }

    .grid_item {
      &:first-child {
        grid-column: 1 / span 4;
        margin: auto 0;
        @media (max-width: 991.98px) {
          grid-column: 1 / span 12;
          &.order {
            order: 2;
            padding-bottom: 10rem;
          }
        }
      }
      &:last-child {
        grid-column: 6 / span 12;
        @media (max-width: 991.98px) {
          grid-column: 1 / span 12;
          &.order {
            order: 1;
          }
        }
      }
    }
    .services_content {
      position: relative;
      padding-bottom: 5rem;
      display: none;
      &.active {
        display: block;
      }
      &::before {
        content: "";
        width: 6rem;
        height: 6rem;
        position: absolute;
        top: -1rem;
        border-left: 0.3rem solid $colorLight; // RTL
        border-top: 0.3rem solid $colorLight; // RTL
        left: -1.8rem;
      }
      &::after {
        content: "";
        width: 6rem;
        height: 6rem;
        position: absolute;
        bottom: 13rem;
        border-right: 0.3rem solid $colorLight; // RTL
        border-bottom: 0.3rem solid $colorLight; // RTL
        right: -1rem;
      }
      p {
        color: #c8c8cc;
        font-size: 1.6rem;
        opacity: 0.9;
      }
    }
    .btn {
      position: relative;
      font-size: 1.6rem;
      font-weight: bold;
      padding: 0.5em 6rem;
      color: #fff;
      border-radius: 3rem;
      box-shadow: 0 0.3rem 0.6rem #00000029;
      transition: 0.3s;
      &::before {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 0.3rem; // RTL
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        border-radius: 50%;
        background-color: #fff;
        color: #000;
        border: 0.1rem solid #1c335b;
      }
      &:hover {
        background-color: #93e0fd;
      }
    }
  }

  .grid_items_container {
    display: grid;
    grid: auto / repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: auto;
    place-items: center;
    gap: 3rem 3rem;
    .grid_item {
      position: relative;
      user-select: none;
      cursor: pointer;
      &.active {
        &:hover {
          img {
            filter: invert(22%) sepia(75%) saturate(2000%) hue-rotate(170deg)
              brightness(100%) contrast(100%);
          }
        }
        img {
          filter: invert(22%) sepia(75%) saturate(2000%) hue-rotate(170deg)
            brightness(100%) contrast(100%);
        }
        span {
          color: #fff;
        }
      }
      &:hover {
        img {
          filter: invert(22%) sepia(75%) saturate(150%) hue-rotate(145deg)
            brightness(100%) contrast(100%);
        }
        span {
          color: #fff;
        }
      }
      img {
        max-width: 100%;
        grid-column: 1;
        grid-row: 1;
      }
      span {
        position: absolute;
        z-index: 2;
        color: $colorDark;
        font-size: 1.4rem;
        font-weight: 600;
        width: 8rem;
        max-width: 100%;
        text-align: center;
        user-select: none;
      }
      &:first-child {
        grid-column: 1;
        transform: translate(5rem, 1.5rem);
        img {
          transform: rotate(225deg);
        }
        span {
          top: 25%;
          left: 25%;
          @media (min-width: 992px) and (max-width: 1999.98px) {
            top: 22%;
            left: 20.5%;
          }
          @media (min-width: 576px) and (max-width: 767.98px) {
            left: 28%;
          }
          @media (min-width: 480px) and (max-width: 575.98px) {
            top: 27%;
            left: 31%;
          }
          @media (min-width: 1200px) {
            top: 25%;
            left: 25%;
          }
          @media (max-width: 420px) {
            left: 16% !important;
            top: 19% !important;
          }
        }
      }
      &:nth-child(2) {
        grid-column: 3;
        transform: translate(-5rem, 1.5rem);
        img {
          transform: rotate(-43deg);
        }
        span {
          top: 32%;
          left: 43%;
          @media (min-width: 992px) and (max-width: 1999.98px) {
            top: 29%;
            left: 37.5%;
          }
          @media (min-width: 576px) and (max-width: 767.98px) {
            left: 45%;
          }
          @media (min-width: 480px) and (max-width: 575.98px) {
            top: 34%;
            left: 49%;
          }
          @media (min-width: 1200px) {
            top: 32%;
            left: 43%;
          }
          @media (max-width: 420px) {
            left: 34% !important;
            top: 27% !important;
          }
        }
      }
      &:nth-child(3) {
        grid-row: 2;
        img {
          transform: rotate(180deg);
        }
        span {
          top: 32%;
          left: 18%;
          @media (min-width: 992px) and (max-width: 1999.98px) {
            top: 30%;
            left: 13.5%;
          }
          @media (min-width: 576px) and (max-width: 767.98px) {
            left: 21%;
          }
          @media (min-width: 480px) and (max-width: 575.98px) {
            top: 36%;
            left: 24%;
          }
          @media (min-width: 1200px) {
            top: 32%;
            left: 18%;
          }
          @media (max-width: 420px) {
            left: 8% !important;
            top: 30% !important;
          }
        }
      }
      &:nth-child(4) {
        grid-row: 2;
        width: 18rem;
        height: 18rem;
        background-color: $colorDark;
        color: #fff;
        border-radius: 50%;
        font-size: 2.5rem;
        cursor: unset;
        @include flexCenter;
        &::before {
          content: "";
          position: absolute;
          width: 23rem;
          height: 23rem;
          background-color: transparent;
          border: 1.2rem solid rgba(255, 255, 255, 0.3);
          border-radius: 50%;
          @media (max-width: 420px) {
            display: none;
          }
        }
      }
      &:nth-child(5) {
        grid-row: 2;
        span {
          top: 44%;
          left: 42%;
          @media (min-width: 992px) and (max-width: 1999.98px) {
            top: 41%;
            left: 38.5%;
          }
          @media (min-width: 576px) and (max-width: 767.98px) {
            left: 46%;
          }
          @media (min-width: 480px) and (max-width: 575.98px) {
            top: 45%;
            left: 49%;
          }
          @media (min-width: 1200px) {
            top: 44%;
            left: 42%;
          }
          @media (max-width: 420px) {
            left: 33% !important;
            top: 40% !important;
          }
        }
      }
      &:nth-child(6) {
        grid-row: 3;
        transform: translate(5rem, -1.5rem);
        img {
          transform: rotate(135deg);
        }
        span {
          top: 44%;
          left: 19%;
          @media (min-width: 992px) and (max-width: 1999.98px) {
            top: 43%;
            left: 14%;
          }
          @media (min-width: 576px) and (max-width: 767.98px) {
            left: 22%;
          }
          @media (min-width: 480px) and (max-width: 575.98px) {
            top: 47%;
            left: 25%;
          }
          @media (min-width: 1200px) {
            top: 44%;
            left: 19%;
          }
          @media (max-width: 420px) {
            left: 10% !important;
            top: 42% !important;
          }
        }
      }
      &:nth-child(7) {
        grid-column: 3;
        grid-row: 3;
        transform: translate(-5rem, -1.5rem);
        img {
          transform: rotate(45deg);
        }
        span {
          top: 52%;
          left: 36%;
          @media (min-width: 992px) and (max-width: 1999.98px) {
            top: 51%;
            left: 31.5%;
          }
          @media (min-width: 576px) and (max-width: 767.98px) {
            left: 39%;
          }
          @media (min-width: 480px) and (max-width: 575.98px) {
            top: 52%;
            left: 43%;
          }
          @media (min-width: 1200px) {
            top: 52%;
            left: 36%;
          }
          @media (max-width: 420px) {
            left: 28% !important;
            top: 48% !important;
          }
        }
      }
    }
    @media (max-width: 420px) {
      .grid_item {
        &:first-child {
          span {
            left: 20%;
          }
        }
        &:nth-child(2) {
          span {
            left: 38%;
          }
        }
        &:nth-child(3) {
          span {
            left: 13%;
          }
        }
        &:nth-child(4) {
          span {
            left: 13%;
          }
        }
        &:nth-child(5) {
          span {
            left: 38%;
          }
        }
        &:nth-child(6) {
          span {
            left: 13%;
          }
        }
        &:nth-child(7) {
          span {
            left: 34%;
          }
        }
      }
    }
  }
}

// Our Clients
@include our_clients;

// Our Articles
@include our_atricles;

// Our Partners
@include partners;
// Start RTL
html[dir="rtl"] {
  // About
  .home_about_us {
    .whats_app,
    .twitter {
      left: unset;
      right: 0;
      border-radius: 4.5rem 0 0 4.5rem;
    }
    .about_content {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.4) 49%,
        rgba(255, 255, 255, 1) 50%
      );
      padding: 2rem 2rem 2rem 7rem;
      h3 {
        border-left: unset;
        border-right: 0.4rem solid #25b0e5;
      }
      button {
        left: unset;
        right: 55%;
        i {
          animation: buttonChevronHoverRtl 1s ease infinite alternate;
          @media (max-width: 479.98px) {
            animation: buttonChevronHoverSm 1s ease infinite alternate;
          }
        }
      }
    }
    .about_video {
      .video_wrapper {
        &::before {
          right: unset;
          left: -1rem;
        }
        &::after {
          left: unset;
          right: -1rem;
        }
      }
    }
  }

  // Nubmers
  .clients_number {
    .grid_item {
      &:first-of-type {
        .expereince {
          border-left: unset;
          border-right: 0.6rem solid #fff;
          &::before {
            right: unset;
            left: 0;
          }
          &::after {
            right: unset;
            left: 0;
          }
          .blue_box {
            left: unset;
            right: -2.5rem;
          }
        }
        p {
          margin-left: unset;
          margin-right: -2.5rem;
          @media (max-width: 479.98px) {
            margin-right: -7.5rem;
          }
        }
      }
    }
  }

  // Our Services
  .our_services {
    .grid_container {
      .services_content {
        &::before {
          border-left: unset;
          border-right: 0.3rem solid #6ed7ff;
          left: unset;
          right: -1.8rem;
        }
        &:after {
          border-right: unset;
          border-left: 0.3rem solid #6ed7ff;
          right: unset;
          left: -1rem;
        }
      }
      .btn {
        &::before {
          content: "\f053";
          right: unset;
          left: 0.3rem;
        }
      }
    }
    .grid_items_container {
      padding-bottom: 6rem;
    }
  }

  // Our Articles
  .our_articles {
    &::after {
      right: unset;
      left: 0;
    }
  }

  // Partners
  .partners {
    .cards_slider {
      .item {
        .card_content {
          .owner_img {
            img {
              order: 1;
            }
            h3 {
              order: 2;
            }
          }
        }
      }
    }
  }
}
