.swal2-popup {
  font-size: 1.6rem !important;
}
.swal2-html-container {
  text-align: center;
}
.quiz_page {
  @include nav_overrite;

  &.stop_clicking {
    pointer-events: none;
  }

  .quiz_header {
    background: url(../img/main_bg_5.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgba($color: #000000, $alpha: 0.5);
    background-blend-mode: overlay;
    height: 50rem;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: -1;
  }
  .heading {
    width: 60%;
    transform: translateY(12rem);
    color: #fff;
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
      border-left: 4px solid #fff; // RTL
      padding: 0 1rem;
    }
  }
  .timer_box {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    background-color: rgba($color: #fff, $alpha: 0.3);
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 1rem 4rem;
    .counter_down {
      position: relative;
      font-size: 2rem;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      background-color: #fff;
      color: #000;
      @include flexCenter;
      z-index: 1;
      .counter_progress {
        canvas {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 110% !important;
          height: 110% !important;
        }
      }
    }
    span {
      background: linear-gradient(180deg, #5ad1ff 0%, #25b0e5 100%);
      color: #fff;
      padding: 0.5rem 3rem;
      border-radius: 0.8rem;
      margin-left: -1.2rem; // RTL
    }
  }
  .questions_head {
    width: 100%;
    background-color: #25b0e5;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0 0.6rem 0.3rem #0000001a;
    font-family: "Poppins", sans-serif;
    h3 {
      color: #fff;
      font-weight: 400;
      margin: 0;
    }
  }
  .question {
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0px 0 0.6rem 0.3rem #0000001a;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    .question_area {
      display: flex;
      align-items: center;
      font-size: 2rem;
      h3 {
        font-size: 1.5rem;
        color: $colorDark;
        background-color: #e8e8e8;
        box-shadow: 0px 3px 6px #00000029;
        padding: 1.5rem 1rem;
        width: 100%;
        border-left: 0.8rem solid $colorLight;
        border-radius: 0.8rem;
        margin: 0 1rem;
        font-weight: 600;
      }
    }
    .answers_area {
      padding: 0 6rem;
      margin-top: 2.2rem;
      .answer {
        margin-top: 1rem;
        position: relative;
        label,
        input {
          font-size: 1.6rem;
          cursor: pointer;
        }
        input[type="radio"] {
          display: none !important;

          &:checked + label {
            &::after {
              transform: scale(1) rotate(0deg);
            }
          }
        }
        label {
          margin: 0 1rem;
          position: relative;
          display: flex;
          align-items: center;
          color: #474747;
          &::before {
            content: "";
            position: absolute;
            left: -2.7rem; // RTL
            width: 2rem;
            height: 2rem;
            background-color: #fff;
            border: 1px solid $colorLight;
            border-radius: 50%;
            transition: 0.3s linear;
          }

          &::after {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            left: -2.7rem;
            width: 2rem;
            height: 2rem;
            font-size: 1.3rem;
            background-color: $colorLight;
            border: 1px solid $colorLight;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            transform: scale(0) rotate(360deg);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
  .finish_button {
    padding-bottom: 4rem;
    button {
      margin: 5rem auto 0;
      padding: 1rem 4rem;
      background: transparent
        linear-gradient(90deg, #5ad1ff 0%, #25b0e5 100%, #9d009e 100%);
      color: #fff;
      transition: all 0.4s ease;
      @include buttonHover;
      font-size: 1.8rem;
      border-radius: 4.4rem;
    }
  }
}

.swal2-container {
  .swal2-popup {
    .swal2-content {
      font-weight: bold;
    }
    .swal2-actions {
      .swal2-confirm {
        background: transparent
          linear-gradient(90deg, #5ad1ff 0%, #25b0e5 100%, #9d009e 100%);
        color: #fff;
        transition: all 0.4s ease;
        box-shadow: 0 0.3rem 0.6rem #00000029;
        font-size: 1.8rem;
        border-radius: 4.4rem;
        @include buttonHover;
        &:hover {
          background-color: $colorLight;
        }
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

html[dir="rtl"] {
  .quiz_page {
    .heading {
      h2 {
        border-left: unset;
        border-right: 0.4rem solid #fff;
      }
    }
    .timer_box {
      span {
        margin-left: unset;
        margin-right: -1.2rem;
      }
    }
    .question {
      .answers_area {
        .answer {
          label {
            &::before {
              left: unset;
              right: -2.7rem;
            }
            &::after {
              left: unset;
              right: -2.7rem;
            }
          }
        }
      }
    }
  }
}
