.tranining_development_page {
  .tranining_development_header {
    position: relative;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../img/tranining_development_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60rem;
    @include flexCenter;
    justify-content: start;
    .header_text {
      padding: 0 3rem;
      transform: translateY(30px);
      h1 {
        font-size: 3rem;
        color: #fff;
        margin-bottom: 10px;
      }
      p {
        font-size: 2rem;
        color: #fff;
        opacity: 0.9;
      }
    }
    img.curve_rectengle {
      position: absolute;
      bottom: -29px;
      left: 50%;
      transform: translateX(-50%);
      width: 101%;
      height: 7rem;
      display: block;
    }
    img.screen {
      position: absolute;
      bottom: -29px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      height: 20rem;
    }
  }
  .my.services {
    padding: 5rem 0;
    margin-top: 7rem;
    h2 {
      color: $colorDark;
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    @include underLineDotted;
    .line {
      width: fit-content !important;
      margin: 1rem auto !important;
    }
    .container {
      .row {
        margin-top: 3rem;
        .service {
          position: relative;
          background: #e5e5e533;
          box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.4);
          margin: 20px 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 60%;
            object-fit: cover;
            transition: all 0.4s ease-in-out;
            backface-visibility: hidden;
            cursor: pointer;
            transform: scale(1.2);
            &:hover {
              transform: scale(1.1);
            }
            @media (max-width: 992px) {
              transition: unset !important;
              animation: unset !important;
            }
          }
          .text {
            width: 90%;
            background: #fff;
            padding: 1.5rem;
            margin: 0 auto;
            border-radius: 1rem;
            transform: translatey(-3.1rem);
            h2 {
              color: #707070;
              font-size: 1.9rem;
              @media (max-width: 767px) {
                font-size: 2.5rem;
              }
            }
            @include underLineDotted;
            .line {
              margin: 1rem 0;
              justify-content: start;
            }
            p {
              color: #131b2d;
              opacity: 0.35;
              font-size: 1.4rem;
              @media (max-width: 767px) {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
  .form_section {
    margin: 10rem 0;
    @media (max-width: 767px) {
      padding: 2rem 0;
    }
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../img/blur_bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .row {
      & > div {
        .contact_info {
          padding: 1rem;
          margin-bottom: 3rem;
          h2 {
            color: #fff;
            font-size: 2rem;
          }
          @include underLineDotted;
          .line {
            justify-content: start;
            margin: 1rem 0;
          }
          p {
            color: #fff;
            line-height: 1.8;
            font-size: 1.5rem;
          }
        }
        .contact_form {
          padding: 2rem;
          background-color: white;
          width: 100%;
          @media (min-width: 767px) {
            transform: translateY(-6.3rem);
          }
          box-shadow: 0 10px 10px #333;
          .heading {
            @include underLineDotted;
          }
          @include main_form;
        }
      }
    }
  }
  // Our Clients
  @include our_clients;

  // Our Articles
  @include our_atricles;

  // Our Partners
  @include partners;
}
html[dir="rtl"] {
  .tranining_development_page {
    // Our Articles
    .our_articles {
      &::after {
        right: unset;
        left: 0;
      }
    }

    // Partners
    .partners {
      .cards_slider {
        .item {
          .card_content {
            .owner_img {
              img {
                order: 1;
              }
              h3 {
                order: 2;
              }
            }
          }
        }
      }
    }
  }
}
