header.header {
  position: relative;
  .header_fill_carousal {
    height: inherit;
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 35%,
      100% 60%,
      100% 100%,
      49% 95%,
      0 100%,
      0 73%,
      0 35%,
      0 0
    );
    .slick-arrow {
      display: none !important;
      &.slick-prev {
      }
      &.slick-next {
      }
    }
    .slick-list {
      height: inherit;
      .slick-track {
        height: inherit;
        .slick-slide {
          height: inherit;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .header_slices_carousal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 35%,
      100% 60%,
      100% 100%,
      49% 95%,
      0 100%,
      0 73%,
      0 35%,
      0 0
    );
    .slick-arrow {
      z-index: 2;
      width: 4rem;
      height: 4rem;
      &:hover {
        &::before {
          color: #fff;
          opacity: 1;
        }
      }
      &::before {
        color: #eee;
        transition: all 0.3s ease;
        font-size: 4rem;
        opacity: 0.8;
      }
      &.slick-prev {
        left: 1rem;
      }
      &.slick-next {
        right: 1rem;
      }
    }
    .slick-list {
      height: inherit;
      .slick-track {
        height: inherit;
        .slick-slide {
          outline: none;
          position: relative;
          transition: all 0.4s ease;
          &.slick-current {
            background: rgba(0, 0, 0, 0.5);
            .text {
              transform: translateY(-3rem);
            }
          }
          height: inherit;
          background: rgba(0, 0, 0, 0.3);
          margin: 0 0.1rem;
          color: #fff;
          cursor: pointer;
          .text {
            transition: transform 0.4s ease;
            position: absolute;
            bottom: 2rem;
            padding: 2.2rem;
            p {
              font-size: 2.5rem;
              @media (max-width: 550px) {
                font-size: 3.5rem;
              }
              @media (max-width: 479px) {
                font-size: 4.5rem;
              }
            }
            img {
              font-size: 20px;
              width: unset;
            }
          }
        }
      }
    }
  }
  .scroll_down {
    color: #75bee8;
    a {
      color: inherit;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%);
      width: 5.5rem;
      height: 5.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 50%;
      z-index: 1;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      &:hover {
        .icons {
          .fa-chevron-down {
            animation: arrow_down 1s ease-in-out infinite alternate;
          }
        }
      }
      .icons {
        color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fa-mouse {
          font-size: 1.7rem;
        }
        .fa-chevron-down.one {
          font-size: 1rem;
          opacity: 0.5;
        }
        .fa-chevron-down.tow {
          font-size: 1rem;
          margin-top: -5px;
        }
      }
      .circle_border {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: transparent;
        border: 1px solid #75bee8;
        top: 0;
        left: 0;
        &.circle_one {
          animation: border_scale_one 2s ease-in-out infinite;
        }
        &.circle_tow {
          animation: border_scale_tow 2s ease-in-out 0.5s infinite;
        }
        &.circle_three {
          animation: border_scale_three 2s ease-in-out 1s infinite;
        }
      }
    }
  }
}
